# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

# place dependencies here
Flask==1.0.2
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
